.navigation {
  background-color: #FFFCF4;
}

.navigation #logo {
  height: 50px;
  margin-left: 0px;
  position: absolute;
  top: 5px;
}

.navigation ul {
  margin-top: 0px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

  display: block;
  padding: 0px;
}

.navigation li{
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  color: #4C4C4C;
}

.navigation a {
  color: #4C4C4C;
}

#title {
  /*margin-top: 50px;*/
  margin-left: 50px;
  font-family: 'Arizonia', cursive;
  /*font-family: 'Parisienne', cursive;*/
  font-size: 50px;
}

body {
  /*background-color: #CC7A00;*/
  background-color: #FFD699;
  /*background-image: url("http://svite-league-apps-content.s3.amazonaws.com/bgimages/wood.jpg");*/
}
/*http://www.psdgraphics.com/file/summer-bokeh-background.jpg*/

.wrapper {
  padding-top: 10px;
  max-width: 750px;
  margin: 0 auto;
  /*border: 1px solid gray;*/
  background-color: #FFFCF4;
}

.container {
  margin-left: 100px;
  margin-bottom: 75px;
  font-family: 'Lato', sans-serif;
}

#tweet_box {
  margin-bottom: 30px;
}

#tweet_feed th, td {
  width: 450px;
  border-collapse: collapse;
  border-spacing: 0;
}

#tweet_feed th,td {
  border: 1px solid #CCC;
}

#tweet_content {
  margin-top: 5px;
  margin-bottom: 10px;
}

#registration_form {
  text-align: center;
  width: 50%;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
}

