<div class="container">
  <form action='/users' method='post' id="registration_form">
    <h2>Register here:</h2>
      <input type='text' name='username' placeholder= 'Username&hellip;'/><br>
      <input type='email' name='email' placeholder= 'Email&hellip;'><br>
      <input type='password' name='password' placeholder= 'Password'><br><br>
      <input type='submit' value='Register'/>
  </form>

</div>
