<div class="container">
  <form action='/users' method='post'>
    Register here:
    <input type='text' name='new_username'><br/>
   <input type='text' name='new_email'><br/>
   <input type='text' name='new_password'><br/>
   <input type='submit' value='Register'/>
  </form>

</div>
